<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @finance.nombre %>
</p>

<p>
  <strong>Dinero:</strong>
  <%= @finance.dinero %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
