<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @finance.nombre %>
</p>

<p>
  <strong>Dinero:</strong>
  <%= @finance.dinero %>
</p>

<%= link_to 'Editar', edit_finance_path(@finance), class: 'btn btn-warning' %> |
<%= link_to 'Volver', finances_path, class: 'btn btn-primary' %>

