<div class="row">
  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Nuevo Usuario</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div class="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group"> 
            <%= f.label :nombre, class: "control-label"%><br />
            <%= f.text_field :nombre, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group"> 
            <%= f.label :apellido, class: "control-label" %><br />
            <%= f.text_field :apellido, class: "form-control" %>
          </div>

          <div class="form-group"> 
            <%= f.label :email, class: "control-label" %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group"> 
            <%= f.label :password, class: "control-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group"> 
            <%= f.label :password_confirmation, class: "control-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
          <%= f.label :role, "Rol:", class: "control-label" %>
          <%= f.select :role, User.roles.keys.to_a, {}, class: "form-control select2 select2-hidden-accessible" %>
          </div>

        </div><!-- /.box-body -->
        <div class="box-footer">
          <%= f.submit "Enviar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-offset-4">
   <button class="btn btn-block btn-primary" type="button "onclick="location.href='/admin/users' ">Volver</button>
  </div>
</div>