<head>
<%= stylesheet_link_tag 'dataTables.bootstrap.css' %>
<%= javascript_include_tag 'jquery.dataTables.min.js'%>
<%= javascript_include_tag 'dataTables.bootstrap.min.js'%>
<%= javascript_include_tag 'jquery.slimscroll.min.js'%>
<%= javascript_include_tag 'fastclick.min.js'%>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>

<div class="box">
  <div class="box-header">
    <div class="col-sm-8">
      <h3 class="box-title">Listado de Clientes</h3>
    </div>
   
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nombre: activate to sort column descending" style="width: 229px;">Nombre</th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Mail: activate to sort column descending" style="width: 229px;">Mail</th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Detalle Adicional: activate to sort column descending" style="width: 229px;">Detalle Adicional</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending" style="width: 199px;">Acciones</th>
              </tr>
            </thead>
            <tbody>
            <% @clients.each do |client| %>
              <tr role="row" class="even">
                <td class="sorting_1"><%= client.nombre %></td>
                <td><%= client.mail %></td>
                <td><%= client.detalle_adicional %></td>
                <td>
                  <%= link_to client, method: :get, class: 'btn btn-primary', title: 'Ver' do %>
                    <i class="fa fa-file"></i>
                  <% end %>
                  <%= link_to edit_client_path(client), method: :get, class: 'btn btn-warning', title: 'Editar' do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to client, confirm: 'Estas seguro?', disable_with: 'borrando...', method: :delete, class: 'btn btn-danger', title: 'Eliminar' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Nombre</th>
                <th rowspan="1" colspan="1">Mail</th>
                <th rowspan="1" colspan="1">Detalle Adicional</th>
                <th rowspan="1" colspan="1">Acciones</th>
              </tr>
            </tfoot>
          </table>
          <%= will_paginate @clients, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div><!-- /.box-body -->
</div>
<script>
  $(function () {
    $("#example2").DataTable();
    $('#example1').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": false,
      "autoWidth": false
    });
  });
</script>