<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @client.mail %>
</p>

<p>
  <strong>Detalle adicional:</strong>
  <%= @client.detalle_adicional %>
</p>

<%= link_to 'Editar', edit_client_path(@client), class: 'btn btn-warning' %> |
<%= link_to 'Volver', clients_path, class: 'btn btn-primary' %>

