<div class="row">
  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Historial de ML</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <%= form_for([@product, @record]) do |f| %>
          <% if @record.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

              <ul>
              <% @record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <!-- text input -->
          <div class="form-group">
          <%= f.label :cuenta_ml_id, "Cuenta de ML:", class: "control-label" %>
          <%= f.collection_select :cuenta_ml_id, OriginSale.all, :id, :nombre, options={selected: @record.cuenta_ml_id}, {class: "form-control select2 select2-hidden-accessible "} %>
        </div>

        <div class="form-group">
          <%= f.label :estado, "Estado:", class: "control-label" %>
          <%= f.select :estado, Record.states.keys.to_a, {}, class: "form-control select2 select2-hidden-accessible" %>
        </div>
          
      </div><!-- /.box-body -->
      <div class="box-footer">
        <%= f.submit 'Enviar', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
