<div class="row">
  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <% if @category.persisted? %>
          <%= render 'title_edit' %>
        <% else %>
          <%= render 'title_new' %>
        <% end %>
      </div><!-- /.box-header -->
      <div class="box-body">
        <%= form_for(@category) do |f| %>
          <% if @category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@category.errors.count, "error") %> Prohibido guardar esta categoria:</h2>

              <ul>
              <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <!-- text input -->
          <div class="form-group">
            <%= f.label :nombre, "Nombre:", class: "control-label" %>
            <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese nuevo nombre", autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.label :padre_id, "Categoria Padre:", class: "control-label" %>
            <%= f.collection_select :padre_id, Category.all, :id, :nombre, options={selected: @category.padre_id, include_blank: true}, {class: "form-control"} %>
          </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <%= f.submit 'Enviar', class: "btn btn-primary" %>
      </div>
       <% end %>
    </div>
  </div>  
</div>
