<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria Padre:</strong>
  <% if @category.padre %>
  	<%= @category.padre.nombre %>
  <%else%>
  	-
  <% end %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @category.nombre %>
</p>



<%= link_to 'Editar', edit_category_path(@category), class: 'btn btn-warning' %> |
<%= link_to 'Volver', categories_path, class: 'btn btn-primary' %>
