<div class="row">
  <div class="col-md-6">
    <div class="box box-success">
      <div class="box-header with-border">
        <% if @product.persisted? %>
          <%= render 'title_edit' %>
        <% else %>
          <%= render 'title_new' %>
        <% end %>
      </div><!-- /.box-header -->
      <div class="box-body">
        <%= form_for(@product) do |f| %>
          <% if @product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

              <ul>
              <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <!-- text input -->
          <div class="form-group">
            <%= f.label :category_id, "Categoria:", class: "control-label" %>
            <%= f.collection_select :category_id, Category.categories_for_products, :id, :nombre_y_padre, options={selected: @product.category_id, include_blank: false}, {class: "form-control", autofocus: true} %>
          </div>
          <div class="form-group">
            <%= f.label :nombre, "Nombre:", class: "control-label" %>
            <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese nombre sin repetir el nombre de la CATEGORIA" %>
          </div>
          <div class="form-group">
            <%= f.label :instruccion_general, "Instrucciones:", class: "control-label" %>
            <%= f.text_area :instruccion_general, class: "form-control", placeholder: "Ingrese Instrucciones", cols: 24, rows: 4 %>
          </div>
          <div class="form-group">  
            <%= label_tag(:tipo_stock, "Stock Simple") %>
            <%= radio_button("product", "tipo_stock", "Stock Simple", checked: true) %>
            <%= label_tag(:tipo_stock, "Stock Complejo") %>
            <%= radio_button("product", "tipo_stock", "Stock Complejo") %>
          </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <%= f.submit 'Enviar', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
