<head>
<%= stylesheet_link_tag 'dataTables.bootstrap.css' %>
<%= javascript_include_tag 'jquery.dataTables.min.js'%>
<%= javascript_include_tag 'dataTables.bootstrap.min.js'%>
<%= javascript_include_tag 'jquery.slimscroll.min.js'%>
<%= javascript_include_tag 'fastclick.min.js'%>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>

<div class="box">
  <div class="box-header">
    <div class="col-sm-8">
      <h3 class="box-title">Listado de Productos</h3>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-block btn-success btn-lg" type="button" onclick="location.href='products/new' "><span class="glyphicon glyphicon-plus"></span> Nuevo Producto</button>
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nombre: activate to sort column descending" style="width: 229px;">Nombre</th>
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Cantidad en Stock: activate to sort column descending" style="width: 229px;">Cantidad en Stock</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Instruccion general: activate to sort column ascending" style="width: 249px;">Instruccion general</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="cuenta ML publicado: activate to sort column ascending" style="width: 249px;">Cuenta de ML Publicado</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Carga Stock: activate to sort column ascending" style="width: 249px;">Carga Stock</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Ver Stock: activate to sort column ascending" style="width: 249px;">Ver Stock</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Acciones: activate to sort column ascending" style="width: 199px;">Acciones</th>
              </tr>
            </thead>
            <tbody>
            <% @products.each do |product| %>
              <tr role="row" class="even">
                <td class="sorting_1">
                  <label><%= product.nombre %></label></br>
                  Categoria: <%=product.categoria.nombre rescue ''%>
                </td>
                <td><%= product.copias.all.select{|c| c.estado_del_producto != "Vendido"}.count %></td>
                <td><%= product.instruccion_general %></td>
                <td>
                  <!-- lugar actual publicado--><p>Publicado en: <%=product.registros.last.cuenta_ml.nombre rescue ''%> </p>
                  <p>Estado: <%=product.registros.last.estado rescue ''%></p>
                  <% if product.registros.empty? %>
                    <button class="btn  btn-default btn-xs" type="button" onclick='location.href="/products/<%=product.id%>/records/new" '>Agregar Nuevo</button>
                  <%else%>
                    <button class="btn  btn-default btn-xs" type="button" onclick='location.href="/products/<%=product.id%>/records/<%=product.registros.last.id%>/edit" '>Editar Actual</button>
                    <button class="btn  btn-default btn-xs" type="button" onclick='location.href="/products/<%=product.id%>/records/new" '>Agregar Nuevo</button>
                  <%end%>
                </td>
                <td>
                  <% if product.tipo_stock == 'Stock Simple' %>
                    <button class="btn  btn-success" type="button" onclick='location.href="/products/<%=product.id%>/stock_simple" '>Cargar Stock Simple</button>
                  <% else %>
                  <button class="btn bg-olive" type="button" onclick='location.href="/products/<%=product.id%>/stock_complejo" '>Cargar Stock Complejo</button>
                  <% end -%>
                </td>
                <td>
                  <button class="btn  btn-primary" type="button" onclick='location.href="/products/<%=product.id%>/copies" '>Ver Stock</button>
                </td>
                <td>
                  <%= link_to product, method: :get, class: 'btn btn-primary', title: 'Ver' do %>
                    <i class="fa fa-file"></i>
                  <% end %>
                  <%= link_to edit_product_path(product), method: :get, class: 'btn btn-warning', title: 'Editar' do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to product, confirm: 'Estas seguro?', disable_with: 'borrando...', method: :delete, class: 'btn btn-danger', title: 'Eliminar' do %>
                    <i class="fa  fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Nombre</th>
                <th rowspan="1" colspan="1">Cantidad en Stock</th>
                <th rowspan="1" colspan="1">Instrucciones</th>
                <th rowspan="1" colspan="1">Cuenta de ML Publicado</th>
                <th rowspan="1" colspan="1">Carga Stock</th>
                <th rowspan="1" colspan="1">Ver Stock</th>
                <th rowspan="1" colspan="1">Acciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div><!-- /.box-body -->
</div>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>