<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Tipo stock:</strong>
  <%= @product.tipo_stock %>
</p>

<p>
  <strong>Instruccion general:</strong>
  <%= @product.instruccion_general %>
</p>

<%= link_to 'Editar', edit_product_path(@product), class: 'btn btn-warning' %> |
<%= link_to 'Volver', products_path, class: 'btn btn-primary' %>

