<p id="notice"><%= notice %></p>

<p>
  <strong>Precio bruto:</strong>
  <%= @sale.precio_bruto %>
</p>

<p>
  <strong>Precio neto:</strong>
  <%= @sale.precio_neto %>
</p>

<p>
  <strong>Forma de pago:</strong>
  <%= @sale.forma_de_pago %>
</p>

<p>
  <strong>Ganancia:</strong>
  <%= @sale.ganancia %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
